# Implicit typecasting

In [1]:
# Implicit typecasting from int to float
integer_number = 5
float_number = 3.14
result = integer_number + float_number
print(result)
# The integer is implicitly converted to a float before the addition.

8.14

In [3]:
# Implicit typecasting from int to string
integer_number = 10
string_number = "5"
result = integer_number + string_number
print(result)  # Output: TypeError (unsupported operand type(s) for +)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# Explicit Typecasting
Explicit type conversion, also known as typecasting, is a process in which a programmer manually converts the data type of an object to the desired data type. In Python, built-in functions such as int(), float(), str(), etc., are used to perform explicit type conversion.

1. Int():
Python Int() function take float or string as an argument and returns int type object.

2. float():
Python float() function take int or string as an argument and return float type object.

3. str():
Python str() function takes float or int as an argument and returns string type object.

In [7]:
# Converting int to float
integer_number = 41
float_number = float(integer_number)
print(float_number)
print(type(float_number))

# Converting float to int
float_value = 7.12
int_value = int(float_value)
print(int_value)
print(type(int_value))

# Converting int to str
integer_value = 123
str_value = str(integer_value)
print(str_value)
print(type(str_value))

print(str(456)+"Now i am happy")

41.0
<class 'float'>
7
<class 'int'>
123
<class 'str'>
456Now i am happy

In [ ]:
# Typecasting in Collections:
1. List typecasting
2. Set typecasting
3. Tuple typecasting

In [9]:
# Converting a tuple to a list
tuple_data = (1, 2, 3)
list_data = list(tuple_data)
print(list_data)

# Converting a list to a set
list_data = [1, 2, 3]
set_data = set(list_data)
print(set_data)

[1, 2, 3]
{1, 2, 3}